[submodule "swift-sodium"]
	path = swift-sodium
	url = https://github.com/kinfoundation/swift-sodium.git
[submodule "keychain-swift"]
	path = keychain-swift
	url = https://github.com/filippovdev/keychain-swift.git
