[submodule "swift-sodium"]
	path = StellarKit/third-party/swift-sodium
	url = https://github.com/jedisct1/swift-sodium.git
[submodule "keychain-swift"]
	path = StellarKit/third-party/keychain-swift
	url = https://github.com/filippovdev/keychain-swift.git
[submodule "StellarKit/third-party/EventSource"]
	path = StellarKit/third-party/EventSource
	url = https://github.com/inaka/EventSource.git
